.about {
  padding-top: 27px;
  padding-bottom: 17px;

  @include container;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
  }
}

.about__title {
  width: 100%;
  margin: 0;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: $font-size-h2;
  line-height: 1.2;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;

    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 1;
  }
}

.about__list {
  position: relative;

  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 1.2;

  @include list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    font-size: $font-size-big;
    line-height: 1.1;
  }
}

.about__item {
  position: relative;

  box-sizing: border-box;
  padding-top: 55px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-right: 40px;
    padding-bottom: 60px;

    &--flower {
      order: -6;
    }

    &--money {
      order: -4;
    }

    &--like {
      order: -2;
    }

    &--ball {
      order: -5;
    }

    &--rocket {
      order: -3;
    }

    &--gift {
      order: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    padding-right: 115px;
  }
}

.about__icon {
  position: absolute;

  fill: $seafoam;

  &--flower {
    top: 0;
    left: 9px;
  }

  &--money {
    top: 2px;
    left: 0;
  }

  &--like {
    top: 7px;
    left: 8px;
  }

  &--ball {
    top: 4px;
    left: 5px;
  }

  &--rocket {
    top: 5px;
    left: -5px;
  }

  &--gift {
    top: 3px;
    left: 4px;
  }

  path {
    fill: $seafoam;
  }
}
