.catalog {
  position: relative;

  @include container;

  @media (min-width: $tablet-width) {
    padding-top: 79px;
  }
}

.catalog::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: -23px;
    right: 0;
    left: 0;

    height: 24px;
    margin-right: -52px;
    margin-left: -52px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.catalog__list {
  @include list;
}

.catalog__link {
  display: block;

  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 1.4;
}

.catalog__image {
  width: 100%;
  height: auto;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  border: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 $black;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $black;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 17px;
}

.catalog__title--link {
  margin: 0;

  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
  }

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.catalog__content {
  padding-right: 28px;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 41%;
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.catalog__text {
  margin: 0;
  padding-bottom: 27px;

  font-weight: 400;
  font-size: $font-size-small;
  line-height: 2.3;
  color: $greyish;

  @media (min-width: $tablet-width) {
    font-size: $font-size-base;
    line-height: 2;
  }
}

.catalog__cost-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 27px;

  border-top: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-bottom: 0;
  }
}


.catalog__cost {
  margin: 0;

  font-weight: 700;
  font-size: $font-size-base;
  line-height: 1.6;

  @media (min-width: $tablet-width) {
    font-size: $font-size-medium;
    line-height: 1.4;
  }
}

.catalog__icon {
  opacity: 0.2;

  &:hover,
  &:focus {
    opacity: 1;

    path {
      fill: $seafoam;
    }
  }

  &:active {
    path {
      fill: rgba($seafoam, 0.3);
    }
  }
}
