.contacts {
  padding-top: 37px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 57px;

    @include container;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 63px;
    padding-right: 50px;
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
    margin-left: 0;
  }
}

.contacts__title {
  position: relative;

  margin: 0;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;

    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    padding-top: 81px;

    font-size: 53px;
    line-height: 1;
  }
}

.contacts__title::after {
  content: "";
  position: absolute;

  display: none;
  width: 47px;
  height: 81px;

  background-image: url("../img/icon-flag.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -6px;
    right: -1px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 70px;
    left: -112px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;

  list-style: none;
  font-weight: 400;
  line-height: 2;
  color: $greyish;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 27px;

    font-size: $font-size-medium;
    line-height: 1.8;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 67px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  @media (min-width: $desktop-width) {
    padding-bottom: 26px;
  }
}

.contacts__item:first-child {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }
}

.contacts__text {
  margin: 0;
}

.contacts__text:last-child {
  width: 70%;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 26px;
  }
}

.contacts__map {
  height: 457px;
  margin-bottom: 39px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: -52px;
    margin-left: -52px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__button {
  margin-right: 30px;
  margin-left: 30px;


  @media (min-width: $tablet-width) {
    width: 230px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -44px;
  }
}
