.form {
  padding-right: 32px;
  padding-bottom: 55px;
  padding-left: 32px;

  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
  border-top: 1px solid $seafoam;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;

    border: none;
  }
}

.form__group:nth-child(2n):not(.form__group--info),
.form__group--email {
  @media (min-width: $tablet-width) {
    background-color: $bg-white;
  }
}

.form__title {
  margin: 0;

  font-size: $font-size-medium;
  line-height: 1;
  color: $seafoam;

  @media (min-width: $tablet-width) {
    display: block;
    width: 25%;
  }
}

.form__field-wrapper {
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__radio-name,
.form__checkbox-name {
  display: block;

  font-size: $font-size-medium;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: $font-size-big;
  }
}

.form__radio-name {
  position: relative;

  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 62px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 42px;
  }
}

.form__radio + .form__radio-indicator {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: 2px solid $greyish;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
  }
}

.form__radio-indicator:hover,
.form__radio-indicator:focus,
.form__radio-name:hover .form__radio-indicator,
.form__radio-name:focus .form__radio-indicator {
  border-color: $seafoam;
}

.form__radio-indicator:active,
.form__radio-name:active .form__radio-indicator {
  border-color: rgba($greyish, 0.3);
}

.form__radio:checked + .form__radio-indicator::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $seafoam;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 13px;
    left: 13px;

    width: 22px;
    height: 22px;
  }
}

.form__checkbox-name {
  position: relative;

  padding-top: 10px;
  padding-bottom: 34px;
  padding-left: 63px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 31.3%;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 42px;
    padding-left: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 23.3%;
    padding-right: 28px;
  }
}

.form__checkbox + .form__checkbox-indicator {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 39px;

  border: 2px solid $greyish;

  @media (min-width: $tablet-width) {
    width: 54px;
    height: 54px;
  }
}

.form__checkbox:checked + .form__checkbox-indicator::before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 9px;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    bottom: 14px;
    left: 13px;

    width: 33px;
    height: 22px;
  }
}

.form__checkbox-indicator:hover,
.form__checkbox-indicator:focus,
.form__checkbox-name:hover .form__checkbox-indicator,
.form__checkbox-name:focus .form__checkbox-indicator {
  border-color: $seafoam;
}

.form__checkbox-indicator:active,
.form__checkbox-name:active .form__checkbox-indicator {
  border-color: rgba($greyish, 0.3);
}

.form__text-name {
  position: relative;

  display: block;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}

.form__user-name {
  display: block;

  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 1;

  @media (min-width: $tablet-width) {
    padding-right: 25px;

    font-size: $font-size-big;
  }
}

.form__text {
  box-sizing: border-box;
  width: 100%;
  height: 52px;

  font-size: $font-size-big;
  line-height: 1;
  color: $greyish;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $black;

  @media (min-width: $tablet-width) {
    padding-right: 17px;
    padding-left: 17px;
  }
}

.form__text--phone,
.form__text--email {
  padding-right: 35px;
}

.form__icon {
  position: absolute;
  top: 11px;
  right: 2px;

  opacity: 0.2;
}

.form__text-name:hover .form__icon,
.form__text-name:active .form__icon {
  opacity: 1;

  path {
    fill: #62d1ba;
  }
}

.form__icon--phone {
  width: 25px;
  height: 24px;
}

.form__icon--email {
  width: 32px;
  height: 24px;
}

.form__user-text {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 17px;

  border: 2px solid $black;

  resize: none;
}

.form__text::placeholder,
.form__user-text::placeholder {
  font-size: $font-size-medium;
  line-height: 1;
  color: rgba($greyish, 0.3);

  @media (min-width: $tablet-width) {
    font-size: $font-size-big;
  }
}

.form__text--phone::placeholder {
  font-size: $font-size-big;
}

.form__text:hover,
.form__text:focus,
.form__text:active,
.form__user-text:hover,
.form__user-text:focus,
.form__user-text:active {
  border-color: $seafoam;
}

.form__submit {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 53px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__info {
  margin: 0;
  padding-bottom: 31px;

  font-weight: 400;
  font-size: $font-size-base;
  line-height: 1;
  color: $greyish;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    font-size: $font-size-medium;
    line-height: 1.8;
  }
}

.form__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: -1;
    width: auto;
  }
}
