.form {
  padding-bottom: 55px;

  font-weight: 700;

  @include container;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
  }
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
  border-top: 1px solid $seafoam;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    border: none;
  }
}

.form__group:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: $bg-white;
  }
}

.form__title {
  padding-right: 27px;

  font-size: $font-size-medium;
  line-height: 1;
  color: $seafoam;
}

.form__field-wrapper {
  padding-top: 27px;
  padding-bottom: 20px;
}

.form__radio-name,
.form__checkbox-name {
  display: block;

  font-size: $font-size-medium;
  line-height: 1;
}

.form__radio-name {
  padding-bottom: 25px;
  padding-left: 62px;
}

.form__radio-name {
  position: relative;

  cursor: pointer;
}

.form__radio + .form__radio-indicator {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: 2px solid $greyish;
  border-radius: 50%;
}

.form__radio-indicator:hover,
.form__radio-indicator:focus,
.form__radio-name:hover .form__radio-indicator,
.form__radio-name:focus .form__radio-indicator {
  border-color: $seafoam;
}

.form__radio-indicator:active,
.form__radio-name:active .form__radio-indicator {
  border-color: rgba($greyish, 0.3);
}

.form__radio:checked + .form__radio-indicator::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;

  width: 16px;
  height: 16px;

  background-color: $seafoam;
  border-radius: 50%;
}

.form__checkbox-name {
  position: relative;

  padding-bottom: 46px;
  padding-left: 63px;

  cursor: pointer;
}

.form__checkbox + .form__checkbox-indicator {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;

  width: 40px;
  height: 39px;

  border: 2px solid $greyish;
}

.form__checkbox:checked + .form__checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 4px;

  width: 16px;
  height: 2px;

  background-color: $black;
  transform: rotate(45deg);
}

.form__checkbox:checked + .form__checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 13px;

  width: 27px;
  height: 2px;

  background-color: $black;
  transform: rotate(-45deg);
}

.form__checkbox-indicator:hover,
.form__checkbox-indicator:focus,
.form__checkbox-name:hover .form__checkbox-indicator,
.form__checkbox-name:focus .form__checkbox-indicator {
  border-color: $seafoam;
}

.form__checkbox-indicator:active,
.form__checkbox-name:active .form__checkbox-indicator {
  border-color: rgba($greyish, 0.3);
}

.form__text-name {
  position: relative;

  display: block;
  padding-bottom: 24px;
}

.form__text {
  box-sizing: border-box;
  width: 100%;
  height: 52px;

  font-size: $font-size-big;
  line-height: 1;
  color: $greyish;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $black;
}

.form__text--phone,
.form__text--email {
  padding-right: 35px;
}

.form__icon {
  position: absolute;
  top: 11px;
  right: 2px;

  opacity: 0.2;
}

.form__text-name:hover .form__icon,
.form__text-name:active .form__icon {
  opacity: 1;

  path {
    fill: #62d1ba;
  }
}

.form__icon--phone {
  width: 25px;
  height: 24px;
}

.form__icon--email {
  width: 32px;
  height: 24px;
}

.form__user-text {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 17px;

  border: 2px solid $black;

  resize: none;
}

.form__text::placeholder,
.form__user-text::placeholder {
  font-size: $font-size-medium;
  line-height: 1;
  color: rgba($greyish, 0.3);
}

.form__text--phone::placeholder {
  font-size: $font-size-big;
}

.form__text:hover,
.form__text:focus,
.form__text:active,
.form__user-text:hover,
.form__user-text:focus,
.form__user-text:active {
  border-color: $seafoam;
}

.form__info {
  margin-bottom: 31px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $greyish;
}

.form__button {
  width: 100%;
  padding: 20px 45px;

  font-size: $font-size-medium;
  line-height: 1;

  background-color: $white;
}
