.header {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width;
  margin-right: auto;
  margin-left: auto;

  background-color: $white;

  @media (min-width: $tablet-width) {
    height: 88px;

    border-bottom: 1px solid $grey-border;
  }
}
