.header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.header__logo {
  margin-top: 22px;
  margin-right: auto;
  margin-bottom: 22px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
    margin-bottom: 20px;
    margin-left: 51px;
  }
}
