.intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.intro__title {
  margin: 0;
  padding-top: 93px;
  padding-bottom: 193px;

  font-weight: 700;
  font-size: $font-size-h1;
  text-align: center;

  @include container;
}

.intro__list {
  position: relative;

  margin-top: -77px;

  font-size: $font-size-big;
  line-height: 24px;

  @include list;
}

.intro__item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 103px;
  padding-top: 30px;
  padding-bottom: 30px;

  @include container;
}

.intro__item:first-child {
  background-color: $seafoam;
}

.intro__item:last-child {
  background-color: $greeny;
}

.intro__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $white;
  text-decoration: none;
}

.intro__content {
  margin: 0;
}

.intro__icon {
  opacity: 0.5;
  path {
    fill: #149080;
  }
}
