.order {
  position: relative;

  font-family: $font-family;
}

.order::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: -23px;
    right: 0;
    left: 0;

    height: 24px;
    margin-right: -52px;
    margin-left: -52px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.order__content {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: $font-size-small;
  line-height: 1.9;
  color: $greyish;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 68px;

    font-size: $font-size-medium;
    line-height: 1.8;
  }
}
