.page__title-wrapper {
  margin-bottom: 30px;
  padding-top: 76px;
  padding-bottom: 74px;

  background-color: $bg-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 80px;
  }
}

.page__title {
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: $font-size-h1;
  line-height: 1.1;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 1.2;
  }
}
