.production {
  margin-bottom: 58px;

  color: $greyish;

  @include container;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
    padding-left: 50px;
  }
}

.production__wrapper {
  padding-top: 29px;
  padding-bottom: 33px;

  border: 1px solid $grey-border;

  &:hover {
    box-shadow: 0 6px 10px 0 $black;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $black;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.production__title-wrapper {
  margin-right: 43px;
  margin-bottom: 26px;
  margin-left: 34px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
    margin-bottom: 0;
    margin-left: 42px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-right: 79px;
    padding-left: 79px;
  }
}

.production__title {
  display: flex;
  align-items: center;
  margin: 0;

  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }
}

.production__icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-right: 25px;

  path {
    fill: $seafoam;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 31px;
  }
}

.production__player {
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
  }
}

.production__video {
  position: relative;
}

.production__image {
  width: 100%;
  height: auto;
}

.production__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 102px;
  height: 78px;
  margin: auto;

  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__content {
  padding-top: 34px;
  padding-right: 34px;
  padding-left: 34px;

  @media (min-width: $tablet-width) {
    padding-right: 41px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    margin-top: -265px;
    margin-left: auto;
    padding: 0;
    padding-top: 42px;
    padding-right: 26px;
    padding-left: 79px;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 400;
  font-size: $font-size-small;
  line-height: 1.9;
}

.production__link {
  padding: 18px 19px;
}
