.top-product {
  position: relative;

  padding-top: 34px;
  padding-bottom: 42px;

  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 43px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    padding-bottom: 96px;
  }
}

.top-product::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: -22px;
    right: 0;
    left: 0;

    height: 24px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    height: 24px;
  }

  @media (min-width: $desktop-width) {
    height: 34px;
  }
}

.top-product::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;

  height: 6px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;

  @media (min-width: $tablet-width) {
    height: 15px;
  }

  @media (min-width: $desktop-width) {
    height: 23px;
    margin: 0 50px;
  }
}

.top-product__title-wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-top: 54px;
  }
}

.top-product__title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: $font-size-h2;
  line-height: 1.2;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 43px;
  }
}

.top-product__tag {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: $font-size-medium;
  line-height: 1.2;
  color: $seafoam;

  @media (min-width: $tablet-width) {
    width: 70px;
    margin: 0;
    margin-right: 27px;
    margin-left: auto;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: -128px;
  }
}

.top-product__content-wrapper {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    margin-bottom: 110px;
    padding-right: 58px;
  }
}

.top-product__content {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $greyish;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    font-size: $font-size-medium;
    line-height: 1.7;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.top-product__features {
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 1.3;
  color: $greyish;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.top-product__features tbody {
  display: flex;
  flex-wrap: wrap;
}

.top-product__row {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  border-bottom: 1px solid $grey-border;
}

.top-product__key,
.top-product__value {
  display: block;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-product__key {
  padding-right: 0;
}

.top-product__value {
  padding-left: 0;
}

.top-product__image {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    margin-top: -150px;
  }
}

.top-product__order {
  width: 100%;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 50%;
    margin-top: -136px;
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    margin-top: -119px;
    padding: 0;
    padding-right: 58px;
  }
}

.top-product__cost {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: $font-size-big;
  line-height: 1.3;
  text-align: center;
  color: $greyish;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.top-product__link {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}
