.user-menu__list {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: $font-size-medium;
}

.user-menu__item {
  display: block;
  width: 320px;
  min-height: 79px;

  background-color: $white;
  border-bottom: 1px solid $grey-border;
}

.user-menu__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  line-height: 24px;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.user-menu__link--search .user-menu__icon {
  position: absolute;
  left: 32px;

  opacity: 0.2;
}

.user-menu__link--cart .user-menu__icon {
  position: absolute;
  left: 30px;

  opacity: 0.2;
}

.user-menu__link--search:hover .user-menu__icon,
.user-menu__link--cart:hover .user-menu__icon,
.user-menu__link--search:focus .user-menu__icon,
.user-menu__link--cart:focus .user-menu__icon {
  opacity: 1;

  path {
    fill: $seafoam;
  }
}

.user-menu__link--search:active .user-menu__icon,
.user-menu__link--cart:active .user-menu__icon {
  opacity: 0.3;

  path {
    fill: $seafoam;
  }
}
