/* Colors */

$white: white;
$black: black;
$very-dark-brown: #010000;
$seafoam: #63d1bb;
$greeny: #56c3b2;
$greyish: #444444;
$grey-border: #ececec;
$link-hover: #46c1ae;
$bg-white: #f1f1f1;

/* Colors */

/* Fonts */

$font-family: "Open Sans", "Arial", sans-serif;
$font-size-h1: 27px;
$font-size-h2: 25px;
$font-size-small: 13px;
$font-size-base: 15px;
$font-size-medium: 17px;
$font-size-big: 19px;

/* Fonts */

/* Device width */

$tablet-width: 768px;
$mobile-width-only: 767px;
$desktop-width: 1150px;

/* Device width */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
